---
import '@fontsource/inter';
import '@fontsource/outfit';
import '../styles/global.css';

interface Props {
	title: string;
	description?: string;
}

const { title, description = "Ataşehir ve Maltepe'nin en iyi bilgisayar tamir, montaj, format ve teknik servis hizmeti. PCFix ile oyuncu bilgisayarlarınız emin ellerde." } = Astro.props;
---

<!doctype html>
<html lang="tr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)} />


		
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
